:root {
    --menu-drawer: all 0.5s ease;
}

/* PC */
@media screen and (min-width: 992px) {
    .mobile-header {
        display: none;
    }

    .show-on-mobile {
        display: none;
    }
}

/* Tablet & Mobile */
@media screen and (max-width: 991px) {
    .navbar {
        position: relative;
    }

    .logo {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .navbar ul {
        display: none;
    }

    .toggle-menu svg {
        width: 24px;
        color: #666;
    }

    .menu-overlay {
        position: fixed;
        inset: 0;
        background: rgba(0, 0, 0, 0.3);
        z-index: 1;
        opacity: 0;
        visibility: hidden;
        transition: var(--menu-drawer);
    }

    .menu-drawer {
        position: fixed;
        inset: 0 40% 0 0;
        padding: 60px;
        background: #fff;
        z-index: 2;
        transform: translateX(-100%);
        transition: var(--menu-drawer);
    }

    .menu-drawer ul {
        margin-top: 32px;
    }

    .menu-drawer ul a {
        display: block;
        color: #333;
        padding: 14px 0;
        font-weight: 500;
    }

    .menu-checkbox:checked ~ .menu-overlay {
        opacity: 1;
        visibility: visible;
    }

    .menu-checkbox:checked ~ .menu-drawer {
        transform: translateX(0);
    }

    .separate {
        border-top: 2px solid #ebebeb;
    }

    .hero-img {
        display: none;
    }

    .hero-wrap .info {
        width: 80%;
        text-align: center;
        margin: 0 auto;
    }

    .hero-wrap .desc {
        width: 80%;
        margin: 30px auto auto;
    }

    .clients .images {
        flex-wrap: wrap;
        justify-content: center;
    }

    .guide-item {
        margin: 0;
        flex: 1;
    }

    .featured .list {
        grid-template-columns: 1fr 1fr;
    }

    .stats .row {
        flex-direction: column;
    }

    .stats .img-block,
    .stats .info {
        width: 100%;
    }

    .stats .img-block {
        margin-top: 80px;
        order: 2;
    }

    .stats .info {
        order: 1;
        padding: 0;
    }

    .stats .sub-title {
        width: 70%;
    }

    .stats .info .desc {
        width: 100%;
    }

    .stats .row-qty {
        flex-direction: row;
    }

    .stars .qty {
        font-size: 5rem;
    }

    .stars .qty-desc {
        font-size: 1.5rem;
    }

    .subscription .image {
        display: none;
    }

    .footer .row-top {
        display: grid;
        grid-template-columns: 1fr 2fr;
        row-gap: 80px;
    }
}

/* Tablet */
@media screen and (min-width: 768px) and (max-width: 991px) {
    .show-on-mobile {
        display: none;
    }
}

/* Mobile */
@media screen and (max-width: 767px) {
    .hide-on-mobile {
        display: none;
    }

    .menu-drawer {
        inset: 0 25% 0 0;
        padding: 40px;
    }

    .navbar .action {
        display: none;
    }

    .hero-wrap {
        height: calc(100vh - 80px);
    }

    .hero-wrap .title {
        margin-top: 20px;
        font-size: 5.2rem;
    }

    .hero-wrap .desc {
        width: 100%;
    }

    .clients .images {
        row-gap: 20px;
    }

    .list-guide {
        flex-direction: column;
        row-gap: 60px;
    }

    .featured .link {
        display: none;
    }

    .featured .list {
        grid-template-columns: 1fr;
    }

    .featured .view-all {
        display: flex;
        justify-content: center;
        margin-top: 60px;
    }

    .stats .sub-title {
        width: 100%;
    }

    .stats .img-block .image {
        width: 100%;
    }

    .stats-trend {
        top: 20px;
        left: 20px;
        border-radius: 12px;
    }

    .stats .row-qty {
        flex-direction: column;
        align-items: center;
        row-gap: 60px;
    }

    .subscription .info {
        padding: 30px;
    }

    .subscription .body {
        height: auto;
    }

    .footer .row-top {
        grid-template-columns: 1fr;
    }

    .footer .row-bottom {
        flex-direction: column;
        align-items: flex-start;
        row-gap: 24px;
    }
}
